* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #78BEE2;
}

.titleBar {
  height: 40px;
  background-color: #78BEE2;
  -webkit-app-region: drag;
}

.header {
  text-align: center;
}

.container {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__title {
  font-size: 18px;
  letter-spacing: 1.5px;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 0px 6px 6px 6px;
  margin: 0px 3px 3px 3px;
  background-color: #F0F5FA;
}

.form__title {
  padding: 18px 0;
  text-align: center;
  font-weight: 12px;
  font-weight: bold;
}

.form__selection {
  height: 44px;
  padding: 0 8px;
  cursor: pointer;
  font-weight: bold;
  border-width: 0.5px;
  border-color: #000;
  border-radius: 2px;
  background: linear-gradient(to bottom, #DDE2E7, #BCC0C5);
  background-repeat: no-repeat;
}

.form__selection:focus {
  background: linear-gradient(to bottom, #6AA7CD, #5990B5);
  background-repeat: no-repeat;
  outline: none;
}

.option {
  font-weight: bold;
}

.form__buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-top: 18px;
  gap: 10px;
}

.button {
  padding: 4px;
  background: linear-gradient(to bottom, #DDE2E7, #BCC0C5);
  background-repeat: no-repeat;
  cursor: pointer;
  border-width: 0.5px;
  border-color: #000;
  border-radius: 2px;
}


